<div class="app-view">
  <div class="app-data-display">
    <h2><sup>$</sup>1,900,000</h2>
    <p>Weekly Sales</p>
    <div class="app-divider"></div>
    <h2>1,230</h2>
    <p>Daily Units Sold</p>
  </div>
  <div
    *ngFor="let chart of charts; let i = index"
    [class.focused-data]="i === 2"
  >
    <x-chartist
      [data]="chart.data"
      [type]="chart.type"
      [options]="chart.options"
      [responsiveOptions]="chart.responsiveOptions"
      [events]="chart.events">
    </x-chartist>
  </div>
  <div class="app-data-news">
    <h3>NEWS</h3>
  </div>
  <div class="app-data-schedule">
    <h3>Schedule</h3>
  </div>

</div>
