.tgt-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin: 12px;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border-radius: 50%;
    border: 6px solid red;
    transform: scale(1);
    transition: transform .5s ease-in-out;
  }

  &::after {
    content: 'close';
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: $liga-font-family;
    font-size: 3rem;
    color: red;
    transform-origin: 0 0;
    transform: scale(0) translate(-50%, -50%);
    transition: transform .5s ease-in-out;
  }

  &.is-open {
    &::before {
      transform: scale(0, 0);
    }
    &::after {
      transform: scale(1, 1) translate(-50%, -50%);
    }
  }
}

.small-font-size {
  & > p {
    font-size: 12px;
  }
}

.app {
  position: relative;
  width: 100%;
  height: 100%;

  &__header {
    padding: 12px;
    background: $grey-d1;
    color: white;
  }
  &__base {
    display: flex;
  }

  .app-base-side {
    flex: 0 0 auto;
    position: relative;
    padding: 12px;
    background: $grey-d1;

    & > div {
      margin-bottom: 12px;
    }

    .spx-btn--circle {
      height: 28px;
      min-width: 28px;
    }
  }
  .app-base-routes {
    flex: 1;
    padding: 12px;
  }
}

.app-base-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 400px;
  min-height: 600px;
  padding: 12px;
  background: $grey-d1;
  @include elevation-3;
  transform: translate(-100%, -100%);
  transition: transform .5s ease-in-out;

  &.is-open {
    transform: translate(0%, 0%);
  }
}

.app-view {
  height: calc(100vh - 84px - 12px);
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  & > div {
    padding: 12px;
    border: 1px solid white;
    @include elevation-1;
  }

  .app-data-news {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
  }
  .app-data-schedule {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
  }
}

.app-data-display {
  h2 {
    font-weight: 100;
  }
  p,
  span {
    font-size: .75rem;
  }
  sup {
    font-size: 1ex;
    vertical-align: text-top;
  }
}

.app-countdown {
  display: flex;
  min-width: 300px;

  & > div {
    flex: 0 0 25%;
    text-align: center;

    & > p:nth-child(2) {
      font-size: 10px;
    }
  }
}

.app-divider {
  height: 1px;
  margin: 12px 0;
  background: $grey-l1;
}

// CHART TRUMP CODE
// .app-view {
//   .ct-label {
//     color: white;
//     fill: white;
//   }
//   .ct-grid {
//     stroke: rgba(255,255,255,.2);
//   }
// }
