$app-grey-1: #dcdcdc;
$app-grey-2: #b5b5b5;

.tgt-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin: 12px;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border-radius: 50%;
    border: 6px solid red;
    transform: scale(1);
    transition: transform .5s ease-in-out;
  }

  &::after {
    content: 'close';
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: $liga-font-family;
    font-size: 3rem;
    color: red;
    transform-origin: 0 0;
    transform: scale(0) translate(-50%, -50%);
    transition: transform .5s ease-in-out;
  }

  &.is-open {
    &::before {
      transform: scale(0, 0);
    }
    &::after {
      transform: scale(1, 1) translate(-50%, -50%);
    }
  }
}

.small-font-size {
  & > p {
    font-size: 12px;
  }
}

// app inner menu
.app-menubar {
  font-size: 12px;
  border-bottom: 1px solid $grey-d1;

  & > ul {
    cursor: pointer;

    & > li {
      position: relative;
      display: inline-block;
      vertical-align: middle;
      padding: 3px 6px;

      &:hover,
      &.is-active {
        background: $app-grey-1;
      }
    }
  }
}
.app-menuinner {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 2;
  background: white;
  min-width: 160px;
  border: 1px solid $grey-d1;
  @include elevation-2;
  display: none;

  li {
    padding: 12px;
    border-bottom: 1px solid $grey-d1;

    &:last-of-type {
      border-bottom: none;
    }
  }

  &.is-open {
    display: block;
  }
}

.app-notification-action {
  position: fixed;
  top: 24px;
  right: 24px;
}


// app
.app {
  position: relative;
  width: 100%;
  height: 100%;

  &__header {
    padding: 12px;
    background: $app-grey-2;
    color: white;
  }
  &__base {
    display: flex;
    height: calc(100vh - 72px);
  }

  .app-base-side {
    flex: 0 0 auto;
    position: relative;
    padding: 12px;
    background: $grey-d1;

    & > div {
      margin-bottom: 12px;
    }

    .spx-btn--circle {
      height: 28px;
      min-width: 28px;
    }
  }
  .app-base-routes {
    flex: 1;
    padding: 12px;
    overflow-y: scroll;
  }
}

 // actions
.app-header-actions {
  display: flex;
  align-items: center;

  & > span {
    font-size: .875rem;
  }
  .material-icons {
    font-size: .875rem;
  }
}

// app tabs
.app-tab-bar {
  display: flex;
  background: $app-grey-2;
  border-bottom: 1px solid $success;

  &__tabs {
    flex: 1;
    margin-bottom: -1px;
  }

  .app-tab {
    display: inline-block;
    margin: 0 3px 0 0;
    padding: 3px 12px;
    background: $app-grey-1;
    color: black;
    font-size: .75rem;
    border-radius: 3px 3px 0 0;
    border: 1px solid $success;
    border-bottom: none;

    &.is-active {
      background: $success;
      color: white;
    }
  }
}

// app tab content
.app-tab-content {
  height: 104px;
  background: $app-grey-1;
  border-bottom: 1px solid $success;
}

// divider vertical
.app-vert-divider {
  width: 1px;
  min-height: 12px;
  margin: 0 6px;
  background: white;
}







// TODO:: OLD
.app-base-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 400px;
  min-height: 600px;
  padding: 12px;
  background: $grey-d1;
  @include elevation-3;
  transform: translate(-100%, -100%);
  transition: transform .5s ease-in-out;

  &.is-open {
    transform: translate(0%, 0%);
  }
}

.app-view {
  height: calc(100vh - 84px - 12px);
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  & > div {
    padding: 12px;
    border: 1px solid white;
    @include elevation-1;
  }

  .app-data-news {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
  }
  .app-data-schedule {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
  }
}

.app-data-display {
  h2 {
    font-weight: 100;
  }
  p,
  span {
    font-size: .75rem;
  }
  sup {
    font-size: 1ex;
    vertical-align: text-top;
  }
}

.app-countdown {
  display: flex;
  min-width: 300px;

  & > div {
    flex: 0 0 25%;
    text-align: center;

    & > p:nth-child(2) {
      font-size: 10px;
    }
  }
}

.app-divider {
  height: 1px;
  margin: 12px 0;
  background: $app-grey-1;
}

// CHART TRUMP CODE
// .app-view {
//   .ct-label {
//     color: white;
//     fill: white;
//   }
//   .ct-grid {
//     stroke: rgba(255,255,255,.2);
//   }
// }


// TABLE
.app-grid {
  width: 100%;
  table-layout: fixed;
  text-align: left;

  th,
  td {
    padding: 6px;
    font-size: .875rem;
    border: 1px solid $app-grey-1;
  }
}
