$app-grey-1: #f7f7f7;
$app-grey-2: #f1f1f1;
$app-grey-3: #a2a2a2;

$app-primary: #004280;

.tgt-logo {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin: 12px;

  &::before {
    content: '';
    position: absolute;
    top: -12px;
    left: -12px;
    right: -12px;
    bottom: -12px;
    border-radius: 50%;
    border: 6px solid red;
    transform: scale(1);
  }
}



// app
.app {
  position: relative;
  width: 100%;
  height: 100%;

  &__header {
    display: flex;
    height: 32px;
    max-height: 32px;
    padding: 6px;
    background: $app-grey-2;
    color: $grey-d1;
  }

  &__base {
    display: flex;
    height: calc(100vh - 32px - 26px - 124px - 36px); // TODO: calc this off of variables to manage better
    background: $app-grey-2;
    transition: height 1s ease-in-out;
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 36px;
    padding: 0 6px;
    background: $app-primary;
    color: white;
    font-size: .75rem;
  }

  .app-base-routes {
    flex: 1;
    overflow-y: scroll;
  }
}

 // actions
.app-header-actions {
  flex: 0 0 33.3%;
  display: flex;
  align-items: center;

  & > span {
    font-size: .875rem;
  }
}

// app title
.app-header-title {
  flex: 0 0 33.3%;
  text-align: center;
  font-size: .75rem;
}

// app secondary
.app-header-secondary {
  flex: 0 0 33.3%;
  text-align: right;

  .material-icons {
    font-size: .875rem;
  }
}

// footer
.app-footer-details {
  flex: 1 0 auto;
}
.app-footer-pagination {
  flex: 0 0 auto;
}
// BUTTON TRUMP
.app-header-actions,
.app-header-secondary {
  .spx-btn--circle {
    height: 20px;
    min-width: 20px;

    &::before {
      font-size: .875rem;
      line-height: 1.2;
    }
  }
}

// app tabs
.app-tab-bar {
  display: flex;
  background: $app-grey-2;
  border-bottom: 1px solid $app-grey-3;

  &__tabs {
    flex: 1;
    margin-bottom: -1px;
  }

  &__ext {
    margin-bottom: -1px;
  }

  .material-icons {
    font-size: .875rem;
    height: 1em;
    line-height: 1;
  }

  .app-tab {
    display: inline-block;
    padding: 6px 12px;
    color: black;
    font-size: .75rem;
    border-radius: 3px 3px 0 0;
    cursor: pointer;

    // hover
    &:not(:first-child):not(.is-active) {
      &:hover {
        background: $app-grey-3;
        color: white;
      }
    }

    &:first-child {
      border-radius: 0 3px 0 0;
    }

    &--main {
      background: $app-primary;
      color: white;
    }

    &.is-active {
      background: $app-grey-1;
      color: $app-primary;
      border: 1px solid $app-grey-3;
      border-bottom: none;
    }
  }
}

// app tab content
.app-tab-content {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  height: 124px;
  padding: 12px;
  background: $app-grey-1;
  border-bottom: 1px solid $app-grey-3;
  font-size: .75rem;
  transition: height 1s ease-in-out;
  will-change: height;

  &__action {
    position: absolute;
    top: 12px;
    right: 12px;
  }

  &__empty {
    font-size: 1.7rem;
    font-weight: 100;
  }

  &__sec {
    flex: 0 0 auto;
    margin-right: 6px;
    padding-right: 6px;
    border-right: 1px solid $app-grey-3;

    &:last-child {
      border-right: none;
    }

    &--actions {
      margin-left: auto;
    }
  }

  .app-tab-cards {
    padding: 3px 6px;
    margin-bottom: 3px;
    background: transparent;
    color: $grey-d1;
    border-radius: 3px;
    border: 1px solid transparent;
    cursor: pointer;
    box-shadow: 0px 0px 0px transparent;
    transition: box-shadow .3s ease-in-out, border-color .3s ease;
    will-change: box-shadow border-color;

    &:hover {
      @include elevation-1;
      border-color: $app-primary;
    }
  }

  .app-tab-info {
    p {
      font-size: .75rem;
    }

    .app-data-callout {
      font-size: 1rem;
      font-weight: 100;
      color: $app-primary;
    }
  }

  .app-tab-box {
    margin-bottom: 6px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

// divider vertical
.app-vert-divider {
  width: 1px;
  min-height: 12px;
  margin: 0 6px;
  background: $app-grey-3;
}


// AG GRID
.app-ag-grid {
  .ag-material {
    margin-top: 12px;
    font-family: $font-family-base;
    font-size: .75rem;

    [role=gridcell] {
      &:focus,
      &:active {
        outline: 0;
      }
    }

    .ag-pinned-left-cols-container {
      .ag-row {
        .ag-cell-no-focus {
          border-right: 1px solid $app-grey-3;
          border-bottom: 1px solid $app-grey-3;
        }
        background: $app-grey-2;
      }
    }

    .ag-row-odd,
    .ag-row-even {
      &.ag-row-selected {
        background: $app-primary;
        color: white;
      }
    }

    .ag-selection-checkbox {
      padding: 0;
    }

    .ag-cell-focus {
      background: $app-grey-3;
      color: white;
      border: 1px solid $app-primary;
    }

    .ag-header {
      background: $app-grey-2;
    }

    .ag-header-cell {
      padding-left: 6px;
    }

    .ag-cell-not-inline-editing {
      padding-top: 0;
    }

    .ag-ltr {
      .ag-cell-no-focus {
        border-left: 1px solid $app-grey-2;
        border-right: 1px solid $app-grey-2;
      }
      .ag-header-cell {
        border-right: 1px solid $app-grey-3;
      }
    }

    .ag-cell-no-focus {
      border-bottom: 1px solid $app-grey-2;
    }

    .ag-row-odd {
      background: $app-grey-1;
    }

    .ag-cell-not-inline-editing {
      padding-left: 6px;
    }
  }
}





// TODO:: OLD
.app-base-menu {
  position: fixed;
  top: 0px;
  left: 0px;
  min-width: 400px;
  min-height: 600px;
  padding: 12px;
  background: $grey-d1;
  @include elevation-3;
  transform: translate(-100%, -100%);
  transition: transform .5s ease-in-out;

  &.is-open {
    transform: translate(0%, 0%);
  }
}

.app-view {
  height: calc(100vh - 84px - 12px);
  display: grid;
  grid-gap: 12px;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-auto-columns: 1fr;
  grid-auto-rows: 1fr;

  & > div {
    padding: 12px;
    border: 1px solid white;
    @include elevation-1;
  }

  .app-data-news {
    grid-column: 5 / 6;
    grid-row: 1 / 3;
  }
  .app-data-schedule {
    grid-column: 5 / 6;
    grid-row: 3 / 5;
  }
}

.app-data-display {
  h2 {
    font-weight: 100;
  }
  p,
  span {
    font-size: .75rem;
  }
  sup {
    font-size: 1ex;
    vertical-align: text-top;
  }
}

.app-countdown {
  display: flex;
  min-width: 300px;

  & > div {
    flex: 0 0 25%;
    text-align: center;

    & > p:nth-child(2) {
      font-size: 10px;
    }
  }
}

.app-divider {
  height: 1px;
  margin: 12px 0;
  background: $app-grey-1;
}

// CHART TRUMP CODE
// .app-view {
//   .ct-label {
//     color: white;
//     fill: white;
//   }
//   .ct-grid {
//     stroke: rgba(255,255,255,.2);
//   }
// }


// TABLE
.app-grid {
  width: 100%;
  table-layout: fixed;
  text-align: left;

  th,
  td {
    padding: 6px;
    font-size: .875rem;
    border: 1px solid $app-grey-1;
  }
}
