<div class="app">
  <header class="app__header">
    <div class="spx-media spx-media--middle">
      <div class="spx-media__element">
        <div
          class="tgt-logo"
          (mouseup)="toggleMenu()"
          [class.is-open]="appMenuOpen"
        ></div>
      </div>
      <div class="spx-media__body small-font-size">
        <p>PROJECT LUNA</p>
        <p>Store: {{data.city}} {{data.store_name}}</p>
        <p>Store Hours: {{data.store_hours}}</p>
      </div>
      <button class="spx-btn spx-btn--circle spx-btn--sd" data-icon="check" (click)="createAlert()"></button>
      <app-countdown [date]="data.promos.date"></app-countdown>
    </div>
  </header>
  <div class="app__base">
    <div>Current Count: {{ data.store_number }}</div>
    <div>Current PROMO: {{ data.promos.promo }}</div>
    <button class="spx-btn spx-btn--pr" (click)="wango()">Wango</button>
    <router-outlet></router-outlet>
  </div>
</div>

<!-- alert tag for service -->
<alert></alert>
