<div class="app">
  <header class="app__header">
    <div class="spx-media spx-media--middle">
      <div class="spx-media__element">
        <div
          class="tgt-logo"
          (mouseup)="toggleMenu()"
          [class.is-open]="appMenuOpen"
        ></div>
      </div>
      <div class="spx-media__body small-font-size">
        <p>PROJECT LUNA</p>
      </div>
    </div>
  </header>
  <div class="app-menubar">
    <ul>
      <li [class.is-active]="innerOpen === 'file' ? true : false">
        <span (click)="openInner('file')">File</span>
        <ul class="app-menuinner" [class.is-open]="innerOpen === 'file' ? true : false">
          <li>Open</li>
          <li>Close</li>
          <li>Quit</li>
        </ul>
      </li>
      <li [class.is-active]="innerOpen === 'edit' ? true : false">
        <span (click)="openInner('edit')">Negotiations</span>
        <ul class="app-menuinner" [class.is-open]="innerOpen === 'edit' ? true : false">
          <li>Open</li>
          <li>Close</li>
          <li>Quit</li>
        </ul>
      </li>
      <li [class.is-active]="innerOpen === 'view' ? true : false">
        <span (click)="openInner('view')">Forecast</span>
        <ul class="app-menuinner" [class.is-open]="innerOpen === 'view' ? true : false">
          <li>Open</li>
          <li>Close</li>
          <li>Quit</li>
        </ul>
      </li>
      <li [class.is-active]="innerOpen === 'clustering' ? true : false">
        <span (click)="openInner('clustering')">Clustering</span>
        <ul class="app-menuinner" [class.is-open]="innerOpen === 'clustering' ? true : false">
          <li>Open</li>
          <li>Close</li>
          <li>Quit</li>
        </ul>
      </li>
    </ul>
  </div>
  <div class="app__base">
    <div class="app-base-routes">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<!-- click shield -->
<div
  class="spx-click-shield"
  [class.is-open]="innerOpen !== '' ? true : false"
  (click)="openInner('')"></div>
<!-- alert tag for service -->
<alert></alert>
